/* Responsive Styles */
/* Large devices (>= 993px and <= 1199) */
@media (min-width: 993px) and (max-width: 1199px) {
  .card-services .content{
    min-height: 450px !important;
  }
}
/* Medium devices (<= 992px) */
@media (max-width: 992px) {
    /* Background color for offcanvas menu */
    .offcavas-bg {
      background: #697F90;
    }
  
    /* Navbar links inside offcanvas body */
    .offcanvas-nav .offcanvas-body .navbar-nav .nav-link {
      margin: 0 !important;
      display: inline-block !important;
    }
  
    /* Hover state for offcanvas links */
    .offcanvas-nav .offcanvas-body .navbar-nav .nav-link:hover {
      background-color: #fff !important;
      color: #697F90 !important;
    }
  
    /* Adjust video height for smaller screens */
    .video-large {
      height: auto;
    }
  }
  
  